{% extends 'base.html' %}
{% block content %}

<p>Email: {{ display_user.email }}</p>
<p>Zipcode: {{ display_user.zipcode}}</p>
<p>Age: {{ display_user.age}}</p>

<table> 
    <tr>
        <th style="text-align:left">Movie</th>
        <th style="text-align:left">Score</th>
    </tr>
    {% for item in display_user.ratings %}
        <tr>
            <td><a href='/movies/{{ item.movie_id }}'>{{ item.movie.title }}</a></td>
            <td>{{ item.score }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock%}